.container {
    height: 700px;
    width: 500px;
    border: chocolate solid 1px;
    align: center;
}
.parclass{
  width: 100%;
  height: 100%;
  border: chocolate solid 1px;
}
.navbar {
    width: 100%;
    height: 30px;
    background-color: cyan;
    border: chocolate solid 1px;
}

.header {
    width: 100%;
    height: 30px;
    background-color: green;
    border: chocolate solid 1px;
}

.game {
    width: 30.9%;
    height: 140px;
    background-color: blue;
    border: chocolate solid 1px;
    display: inline-block;
    align-items: auto;
    padding-left: 10px;
}
.message_bar{
  width: 100%;
  text-align: center;
  height: 40px;
  display:inline-block;
  background-color: white;
  text-shadow: 0 0 3px #ff0000;
  text-decoration: underline;
  text-align: center;
  font-family:digital_7;
  color: red;
  font-size: 20px;
  border: chocolate solid 1px;
}
.footer {
    width: 100%;
    text-align: center;
    height: 30px;
    display:inline-block;
    background-color: beige;
    border: chocolate solid 1px;
}
img {

    max-height: 100%;
    max-width: 100%;
    display: inline-block;

}
#start_game{
      height: 100%;
      max-width: 100%;
      display:inline-block;
      padding-left: none;
      margin: none;
}


.car {
    display: none;
}

.cow {
    display: none;
}

.balloon {
    display: none;
}

.crane {
    display: none;
}

.lion {
    display: none;
}

.orange {
    display: none;
}

.default-img1 {
    /*display: none;*/
}
#reset{
  height: 24px;
  width: 100px;
  background-color: yellow;
  opacity: 0.8;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}
