.container {
    height: 700px;
    width: 500px;
    border: chocolate solid 1px;
    align: center;
}
.parclass{
  width: 100%;
  height: 100%;
  border: chocolate solid 1px;
}
.navbar {
    width: 100%;
    height: 30px;
    background-color: cyan;
    border: chocolate solid 1px;
}

.header {
    width: 100%;
    height: 50px;
    background-color: green;
    border: chocolate solid 1px;
}

.game {
    width: 32%;
    height: 140px;
    background-color: blue;
    border: chocolate solid 1px;
    display: inline-block;
    margin-left: 2px;
}

.footer {
    max-width: 100%;
    text-align: center;
    height: 30px;
    background-color: beige;
    border: chocolate solid 1px;
}
#start_game{
      height: 615px;
      max-width: 98%;
      display: inline-block;

}
img {
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    padding-left: 10px;
}

.car {
    display: none;
}

.cow {
    display: none;
}

.balloon {
    display: none;
}

.crane {
    display: none;
}

.lion {
    display: none;
}

.orange {
    display: none;
}

.default-img1 {
    /*display: none;*/
}
#reset{
  height: 30px;
  width: 100px;
  background-color: yellow;
  opacity: 0.8;
  font-style: italic;
  font-size: 12px;
  font-weight: bold;
}
